@model List<AttendanceSystem.Models.Class>

@section BodySection{
@if (!AttendanceSystem.Infrastructure.Utils.SessionHelper.IsSessionNull("_xchangeMessage"))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Message: </strong> @(AttendanceSystem.Infrastructure.Utils.SessionHelper.GetSession<string>("_xchangeMessage"))
    </div>
}
    <div class="panel panel-primary">
        <div class="panel-heading">Available Courses</div>
        <div class="panel-body">
            <table class="table">
                <thead class="bg-info">
                    <tr>
                        <th>Name</th>
                        <th>Professor</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Excused time</th>
                        <th>View QR code</th>
                        <th>Drop course</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td class="alert" colspan="6">
                                You haven't registered any course. Please go to <a href="/aasstudent">[Available Courses]</a> to register.
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="//aasstudent/dropcourse/@item.Id">@item.Name</a></td>
                            <td>@item.ProfessorName</td>
                            <td>@item.StartDate.ToString("dd/MMM/yyyy")</td>
                            <td>@item.EndDate.ToString("dd/MMM/yyyy")</td>
                            <td>@item.ExcusedTime</td>
                            <td><a href="/aasstudent/viewcode/@item.Id"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></td>
                            <td><a href="/aasstudent/dropcourse/@item.Id"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
}