<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" dir="ltr" lang="en-US"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en-us">
<!-- endif-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1" />
    <meta name="description" content="automated checkin" />
    <meta name="author" content="Khoa Minh Nguyen" />
    <title>Automated Attendance System</title>
    @Styles.Render("~/bundles/css")
    @RenderSection("styles", required:false)
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/favicon-32x32.png">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand system-brand">Automated Attendance System</div>
            </div>
            <div class="navbar-collapse collapse">
            @if (!AttendanceSystem.Infrastructure.Utils.SessionHelper.IsSessionNull(AttendanceSystem.Models.UserSession.LoggedinUserSession))
            {
                Html.RenderPartial("_MainMenu");
            }                         
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container" id="main-content">
        <div class="row">
            <div class="col-md-12">
                @RenderSection("BodySection", required: true)
            </div>
        </div>       
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header navbar-right">
                <div class="navbar-brand">AAS - Copyright &copy; by Khoa Minh Nguyen 2015. All rights reserved.</div>
            </div>
        </div>
    </nav>    
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required:false) 
    <script type="text/javascript">
        // Initialize baseUrl
        window.aasweb = window.location.protocol + "//" + window.location.host + "@Request.ApplicationPath";
    </script>
</body>
</html>
